@{
    ViewData["Title"] = "Detail Page";
}

<div class="container bodyHeight">
    <div class="row justify-content-center align-items-center">
        <h4 class="detail-heading">Lamborghini</h4>
    </div>

    <!-- Card -->
    <div class="row">


        <!-- Detail card-->
        <div class="flex-container-detail">
                
            <div class="imageDetail">
                <img  src="~/images/IMG_4717.JPG" alt="Card image" >
            </div>

            <div class="description">
                <!-- p*2>lorem -->
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate ut eaque, ipsum mollitia vitae repellat recusandae iusto at doloremque! Perferendis illum fuga quaerat rerum eos harum itaque, enim accusantium nesciunt?</p>
                <p>Optio et ab quas cum laboriosam minima quam. Beatae ab minus doloremque eius nemo non iure magnam odio dicta repudiandae expedita ullam harum, suscipit molestias dolores totam quos provident molestiae.</p>
                <p>Et ducimus iusto recusandae tempore dolorem ut dolor nostrum accusamus maiores, nihil quibusdam iure, beatae magnam maxime hic aliquam optio dicta. Accusamus iste hic nostrum excepturi cumque ipsam dolor omnis?</p>
                <p>Laboriosam laborum quo ullam est provident eveniet sed nulla, ab illum voluptates dolor nostrum officiis voluptas excepturi! Est maxime qui asperiores? Labore hic iure beatae nostrum ipsum et fuga maxime?</p>
                <p>Quas architecto praesentium dolore quis quisquam perferendis sit. Magni maiores tempore accusamus possimus saepe odit ut dolore, ex consectetur quam doloribus eius aperiam perspiciatis fugiat ipsa reiciendis id aliquam nobis?</p>
                    
                <a asp-controller="detail" asp-action="index" class="btn btn-primary">Detail</a> 
                <p></p>

            </div>
        </div> <!-- End Col-->

    </div><!-- End row -->
</div><!-- End container -->