@model IEnumerable<VehicleModel>; 

@{
    ViewData["Title"] = "Admin Page";
}

<div class="container">
    <h2>Admin Page</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Product Description</th>
                <th>File Path</th>
                <th>File Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vehicle in Model)
            {
                 <tr>
                    <td>@vehicle.Title</td>
                    <td>@vehicle.ProductDescription</td>
                    <td>@vehicle.FilePath</td>
                    <td>@vehicle.ImageName_1</td>
                    <td></td>
                </tr>
            }
           
            
        </tbody>
    </table>
</div>


