@model IEnumerable<VehicleModel>; 

@{
    ViewData["Title"] = "Home Page";
}


<div class="container bodyHeight">
        <h1>WordPress Plugin Development with Custom Table </h1>

        <!-- Cards -->
        <div class="row">

            @foreach (var vehicle in Model)
            {
                <!-- card 1-->
                <div class="col-md-4">
                    <div class="card">
                    @{
                        //// File path 
                        string filePath = "./" + vehicle.FilePath + "/" + vehicle.ImageName_1; 

                        //// String concat 
                        //// TODO: Must move to helper function in the future. 
                        string productDescriptioConcat = vehicle.ProductDescription.Substring(0, 300) + " ..."; 
                    }
                        <img class="card-img-top" src="@filePath" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">@vehicle.Title</h4>

                            
                            <p class="card-text">@productDescriptioConcat</p>
                            <a asp-controller="home" asp-action="detail" asp-route-id="@vehicle.Id" class="btn btn-primary">Detail</a>
                        </div>
                    </div><!--End card -->
                </div> <!-- End Col-->
            }
            

        </div><!-- End row -->
    </div><!-- End Container -->
